* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body{
    height: 100%;
}

body{
    font-family: 'Segoe UI', Arial, Helvetica, sans-serif;
    background: rgb(248,250,252);
    color: rgb(17, 24, 39);
    overflow: hidden;
}

ul{
    list-style: none;
    padding-left: 0;
}

:root{
    --border: rgb(229,231,235);
    --muted: rgb(107,114,128);
    --muted-2: rgb(71,85,105);
    --bg: white;
    --bg-soft: rgb(246,247,249);
    --hover: rgba(0,0,0,0.04);
    --active: rgba(59,130,246,0,10);
    --blue: rgb(59,130,246);
}